.circularProgress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 10px;
  --radius: calc(var(--half-size) - var(--stroke-width) / 2);
  --circumference: calc(var(--radius) * 3.141 * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
}

.circularProgress circle {
  fill: none;
  stroke-linecap: round;
}

.circularProgress circle.bg {
  stroke: #ddd;
}

.circularProgress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.2s linear 0s;
  stroke: var(--perrywinkle);
}

.circularProgressColor__primary circle.fg {
  stroke: var(--perrywinkle);
}

.circularProgressColor__secondary circle.fg {
  stroke: var(--soft-blue);
}

.circularProgressColor__success circle.fg {
  stroke: var(--pale-cerulean);
}

.circularProgressColor__danger circle.fg {
  stroke: var(--salmon-pink);
}

.circularProgressColor__warning circle.fg {
  stroke: var(--wheat);
}
