.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content max-content;
  gap: 0 0.75rem;
  margin-bottom: 2rem;
  align-items: center;
  grid-template-areas:
    "checkbox name edit-button"
    ". description description";
}

.checkbox {
  grid-area: checkbox;
  appearance: none;
  width: 1.3rem;
  aspect-ratio: 1 / 1;
  border: 0.15rem solid var(--light-gray);
  border-radius: 50%;
}

.checkbox:checked {
  border: none;
  background: var(--perrywinkle);
  position: relative;
}

.checkbox:checked::after {
  content: "";
  display: inline-block;
  height: 13%;
  width: 40%;
  border-left: 0.2rem solid var(--white);
  border-bottom: 0.2rem solid var(--white);
  transform: rotate(-45deg);
  position: absolute;
  top: 31%;
  left: 23%;
  margin: auto;
}

.name {
  grid-area: name;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  grid-area: description;
  color: var(--light-gray);
}

.editButton {
  grid-area: edit-button;
}

.detail {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content minmax(max-content, 1fr) minmax(
      0,
      max-content
    );
  align-items: center;
  overflow: hidden;
  gap: 0 0.65rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.detailIcon {
  font-size: 1.4rem;
  align-self: center;
  vertical-align: top;
}

.detail span:first-child svg {
  display: block;
}

.detail span:last-child {
  margin-left: 1rem;
  font-size: 0.9rem;
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.5rem 1rem;
  background: var(--dark-gray);
  border-radius: 0.3rem;
}

.deleteTaskButton {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0 0.5rem;
}

.trashIcon {
  font-size: 1.15rem;
}

.modal {
  inset: 0;
  margin: auto;
  padding: 1rem;
  background-color: var(--dark-gray);
  color: var(--white);
  border: none;
  outline: none;
}

.modal::backdrop {
  backdrop-filter: blur(0.1rem);
  background: #1d1d1d44;
}

.modalTitle {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
  color: var(--light-gray);
}

.modalDivider {
  margin: 0.5rem 0 1rem;
  border: 1px solid var(--light-gray);
}

.modalContent {
  font-size: 1rem;
  text-align: center;
}

.modalButtons {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
