* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
  color: var(--white);
}

:root {
  --white: #fff;
  --black: #121212;
  --almost-black: #1d1d1d;
  --dark-gray: #363636;
  --light-gray: #b3b3b3;
  --perrywinkle: #8687e7;
  --soft-blue: #809cff;
  --salmon-pink: #ff8080;
  --wheat: #ffcc80;
  --dusk: #4c4c7c;
  --silver: #d9d9d9;
}
