.wrapper {
  max-width: 25rem;
  margin: 0 auto;
}

.goBackButton {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--silver);
}

.editingTaskWithName {
  margin-bottom: 1.5rem;
}
