.wrapper {
  min-height: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.bio {
  margin-bottom: 2.5rem;
}

.bio img {
  float: left;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 0.2rem;
  shape-outside: circle();
}

.wrapper h1 {
  margin-bottom: 1.8rem;
  font-size: 2rem;
  color: var(--perrywinkle);
}

.wrapper h2 {
  color: var(--soft-blue);
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.wrapper h3 {
  color: var(--salmon-pink);
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.wrapper p {
  margin-bottom: 1.5rem;
}

.wrapper ul {
  margin-bottom: 1.5rem;
  color: var(--silver);
  list-style-position: inside;
}

.wrapper li {
  margin-bottom: 0.5rem;
}

.wrapper a {
  text-decoration: none;
  color: var(--wheat);
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper footer {
  font-size: 1.1rem;
  margin-top: 2.5rem;
  color: var(--silver);
}

.wrapper footer p {
  margin-bottom: 0;
}
