.button {
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  transition: all 0.2s ease-in-out;
}

.buttonAsLink {
  text-decoration: none;
}

.buttonWidth__auto {
  width: auto;
}

.buttonWidth__full {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.buttonWidth__content {
  width: fit-content;
}

.buttonColor__primary {
  --color-1: var(--perrywinkle);
  --color-2: var(--lavender-blue);
  --color-3: var(--white);
  --color-4: var(--light-gray);
  --color-5: var(--dusk);
}

.buttonColor__secondary {
  --color-1: var(--soft-blue);
  --color-2: var(--dark-blue);
  --color-3: var(--white);
  --color-4: var(--light-gray);
  --color-5: var(--apollo-blue);
}

.buttonColor__success {
  --color-1: var(--boring-green);
  --color-2: var(--light-forest-green);
  --color-3: var(--white);
  --color-4: var(--light-gray);
  --color-5: var(--pine);
}

.buttonColor__danger {
  --color-1: var(--dusty-red);
  --color-2: var(--light-maroon);
  --color-3: var(--white);
  --color-4: var(--light-gray);
  --color-5: var(--purple-brown);
}

.buttonColor__warning {
  --color-1: var(--camel);
  --color-2: var(--dark-tan);
  --color-3: var(--white);
  --color-4: var(--light-gray);
  --color-5: var(--coffee);
}

.button:disabled {
  background-color: var(--color-5);
  color: var(--color-4);
  border: 1px solid var(--color-5);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: var(--color-5);
  color: var(--color-4);
  border: 1px solid var(--color-5);
}

.buttonVariant__solid {
  background-color: var(--color-1);
  color: var(--color-3);
  border: 1px solid var(--color-1);
}

.buttonVariant__solid:hover {
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
}

.buttonVariant__outline {
  background-color: transparent;
  color: var(--color-1);
  border: 1px solid var(--color-1);
}

.buttonVariant__outline:hover {
  background-color: var(--color-2);
  color: var(--color-3);
  border: 1px solid var(--color-2);
}

.buttonVariant__text {
  background-color: transparent;
  color: var(--color-1);
  border: 1px solid transparent;
}

.buttonVariant__text:hover {
  background-color: var(--color-2);
  color: var(--color-3);
  border: 1px solid var(--color-2);
}

.buttonSize__xs {
  font-size: 0.7rem;
  padding: 0.3rem 0.5rem;
}

.buttonSize__sm {
  font-size: 0.9rem;
  padding: 0.5rem 0.9rem;
}

.buttonSize__md {
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
}

.buttonSize__lg {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
